<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>StormWatch</title>

        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }

            .stat {
                margin: 0 0 0 10px;
            }

            .loading {
                font-style: bold, italic;

            }

        </style>
        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/static/bootstrap/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/bootstrap/ico/apple-touch-icon-57-precomposed.png">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000'),
                charts = {},
                subtitleString, timeRange, brandText;

            String.prototype.toCamel = function(){
                return this.replace(/(\-[a-z])/g, function($1){return $1.toUpperCase().replace('-','');});
            };

            socket.on('newCloudWatchData', function(newData){
                $("#pageName").text(brandText);
                newData.forEach(function(metric){
                    dataArray = [];
                    subtitleString = metric.metricType+
                    ', past '+$("#timeRange").val()+' ('+metric.interval+'m interval)';
                    metric.datapoints.forEach(function(pnt){
                        var date = new Date(pnt.timestamp);
                        dataArray.push([date.getTime(), parseFloat(pnt.value, 10)])
                    });
                    charts[metric.metricName] = new Highcharts.Chart({
                        chart: {
                            renderTo: metric.metricName,
                            type: 'spline',
                            inverted: false,
                            width: 500,
                            style: {
                            }
                        },
                        title: {
                            text: metric.namespace+' '+metric.metricName
                        },
                        subtitle: {
                            text: subtitleString
                        },
                        xAxis: {
                            type: 'datetime',
                            title: {
                                enabled: true,
                                text: 'Time'
                            }
                        },
                        yAxis: {
                            title: {
                                text: metric.metricName
                            },
                            labels: {
                                formatter: function() {
                                    return this.value + metric.unitLabel;
                                }
                            },
                            min: metric.range[0],
                            max: metric.range[1]
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            data: dataArray
                        }]
                    });
                });
            });

            socket.on('newBasicStatsData', function(newData){
                insertBasicStatsData(newData);
            });

            $(document).ready(function(){
                brandText = $(".brand").text();
                $("#timeRange").change(function(){
                    requestData('{{view}}');
                })
                requestData('{{view}}');
                setInterval(function(){
                    requestData('{{view}}');
                }, 60000);
            })

            function requestData(view) {
                timeRange = $("#timeRange").val();
                socket.emit('requestData', {
                    'timeRange': timeRange,
                    'view': view
                });
                $("#pageName").text('loading...');
            }

            function insertBasicStatsData(data) {
                Object.keys(data).map(function(key){
                    var keyName = formatStatName(key);
                    if (!$('#' + keyName).length){
                        $("#basic_stats").append("<div id='"+keyName+"''><h3>" + key + "</h3></div>");
                    }
                    Object.keys(data[key]).map(function(stat){
                        var statName = formatStatName(key+stat);
                        if (!$('#' + statName).length){
                            $('#' + keyName).append("<div id='"+statName+"'' class='stat'>" + stat + ": <span id='" + statName + "Value'></span></div>");
                        }
                        $('#' + statName + 'Value').text(data[key][stat]);
                    })
                });
            }

            function formatStatName(name) {
                name = name.replace(/\s/g, "");
                return name.charAt(0).toLowerCase() + name.slice(1);
            }

        </script>
        <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
        <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
        <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
        <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
        <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
        <script src="/static/bootstrap/js/bootstrap-button.js"></script>
        <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
        <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
        <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">StormWatch</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        <li class="{{basic_li}}"><a href="/">Basic</a></li>
                        <li class="{{detailed_li}}"><a href="/detailed">Detailed</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="pull-right">
                <div id="header">
                    <h1 id="pageName">StormWatch</h1>
                    <select id="timeRange">
                        <option value="30m">30m</option>
                        <option value="1h">1h</option>
                        <option value="2h">2h</option>
                        <option value="4h">4h</option>
                        <option value="12h">12h</option>
                        <option value="1d">1d</option>
                        <option value="7d">7d</option>
                    </select>
                    <div id="loading" class="loading"></div>
                </div>
                <div id="basic_stats">
                    <h2>Basic Stats</h2>
                </div>
            </div>

            {{#each metric_list}}
                <div id="{{this}}" style="height: 400px"></div>​
            {{/each}}
        </div> <!-- /container -->
    </body>
</html>